:root.theme-dark {
    --accent-color: #FF0070;
    --accent-text-color: #000028;
    --page-bg-color: #000028;
    --page-color: #F1B2CE;
    --page-bg-image-url: url(../images/cover-image-dark.png);
    --decorated-color: #FF0070;
    --head-menu-color: #FF0070;
    --head-title-color: #DB00FF;
    --section-title-color: #FF0070;
  }

  .theme-dark .header__rec {
    display: flex;
  }