:root.theme-light {
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --page-bg-color: #FFF1F7;
  --page-color: #353430;
  --page-bg-image-url: url(../images/cover-image-light.png);
  --decorated-color: #353430;
  --head-menu-color: #353430;
  --head-menu-hover: #32312D66;
  --section-title-color: #353430;
  --head-title-color: #FFC2E6;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --accent-text-color: #353430;
    --page-bg-color: #FFF1F7;
    --page-color: #353430;
    --page-bg-image-url: url(../images/cover-image-light.png);
    --decorated-color: #353430;
    --head-menu-color: #353430;
    --head-menu-hover: #32312D66;
    --section-title-color: #353430;
    --head-title-color: #FFC2E6;
  }

  .header__rec {
    display: none;
  }
}
